/* 全体の設定 */
html, body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3";
    margin: 0; /* デフォルトのマージンを削除 */
    padding: 0; /* テキストとの間隔を削除 */
    height: 100svh;
}

/* ヘッダーのスタイル */
.header {
    height: 50px;
    background-color: #2fc269;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex; /* 子要素を横並びにするために追加 */
    justify-content: space-between; /* 子要素を左右に分散配置するために追加 */
    align-items: center;
    color: #fff;
    padding: 0 25px;
}

.logo {
    font-size: 20px;
}

.nav a {
    text-decoration: none; /* 新規追加の青線を非表示 */
}

.nav a:visited {
    color: inherit; /* 新規追加を白のままにする */
}

/* 親の設定 */
.parent {
    display: flex; /* 横並びにする */
    padding-top: 52px;
    padding-bottom: 52px;
}

/* サイドの設定 */
.side {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 15px;
}

.header2 {
    display: none;
}

table {
    border-top: solid 5px #3978d6;
    border-bottom: solid 5px #3978d6;
}

#wordlist {
    margin: 0;
    letter-spacing: 2px; /*　文字同士の間隔を追加 */
    padding: 10px; /* テキストとの間隔を追加 */
}

#sort {
    background-color: #ffd000;
    margin-bottom: 5px; /* wordlistと高さを合わせる */
}

#sort:hover {
    background-color:#ffe77c;
}

.box {
    border-radius: 5px; /* 枠の角を丸く */
}

.side ul {
    list-style: none; /* リストの・を非表示 */
    margin: 0; /* デフォルトのマージンを削除 */
    padding: 0; /* テキストとの間隔を削除 */
    height: 100%;
    border: double 5px #3978d6;
    overflow-y: auto; /* サイドバーがコンテンツよりy軸に長い場合にスクロールバーを表示 */
}

.side li {
    font-weight: bold;
    padding: 10px;
}

.side li:hover {
    color: #2fc269;
}

/* センターの設定 */
.center {
    flex: 1; /* 残りの空間を全て使用するために追加 */
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.wr {
    display: flex; /* wordとrubyを横並びにする */
}

#word, #ruby {
    flex: 1; /* 残りの空間を全て使用するために追加 */
}

#text {
    width: 100%;
    height: 100%;
}

/* フッターの設定 */
.footer {
    background-color: orange;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 50px;
}

.footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer li {
    line-height: 2.5;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}

.footer li a {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #fff;
    text-decoration: none; /* フッター項目の青線を非表示 */
    font-size: 20px;
}

.era {
    background-color: #858585;
}

.add {
    background-color: rgb(255, 149, 57)
}

.sav {
    background-color: rgb(160, 101, 255);
}

.edi {
    background-color: #448fff;
}

/* スマホだけに適用するCSS */
@media only screen and (max-width:390px) {
    /* 全体の設定 */
    html, body {
        height: 100svh;
        overflow-x: hidden;
    }

    /* ヘッダーのスタイル */
    .nav a {
        display: none;
    }

    .header2 {
        display: block;
    }

    .menu-btn, .menu-btn span {
        transition: all .4s;
    }

    .menu-btn {
        cursor: pointer;
        display: block;
        height: 25px;
        margin: 0px;
        position: relative; /* 右端に固定 */
        width: 40px; /* メニューボタンの横幅 */
    }

    .menu-btn span {
        background-color:#008033;
        box-sizing: border-box;
        left: 0;
        height: 4px; /* メニューボタンの線の幅 */
        position: absolute;
        width: 100%;
    }

    .menu-btn span:nth-of-type(1) {
        top: 0;
    }

    .menu-btn span:nth-of-type(2) {
        top: 10px;
    }

    .menu-btn span:nth-of-type(3) {
        top: 20px;
    }

    body.open {
        overflow: hidden;
    }

    .drawer-nav {
        background-color: #7297cfe1;
        box-sizing: border-box;
        left: -200%; /* メニューが左から出てくる */
        height: 100%;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transition: all .5s;
        width: 200px;
    }

    .drawer-nav.open {
        left: 0;
        transform: translateZ(0);
    }

    .drawer-nav ul {
        box-sizing: border-box;
        list-style: none;
    }

    .drawer-nav ul li {
        box-sizing: border-box;
        border-bottom: 1px solid #3978d6;
        padding: 10px;
    }

    .drawer-nav ul li a {
        box-sizing: border-box;
        display: block;
        font-size: 18px;
        line-height: 28px;
        padding: 5px 10px;
        text-decoration: none;
    }

    /* サイドの設定 */
    .side {
        display: none;
    }

    .side li:hover {
        color: #ffffff;
    }

    /* センターの設定 */
    .center {
        height: 100svh;
    }

    .center #text {
        font-size: 20px;
    }
    
    .wr {
        flex-direction: column;
    }

    .wr #word {
        font-size: 30px;
    }

    .wr #ruby {
        font-size: 20px;
    }
}
