#word, #ruby {
    margin: 0;
    padding: 10px;
}

#ruby {
    font-size: 20px;
    padding: 20px;
}

#text {
    margin: 0 0 5px; /* 編集ボタンより高く */
    overflow-y: auto; /* サイドバーがコンテンツよりy軸に長い場合にスクロールバーを表示 */
    border-top: solid 10px #3978d6;
    background: #cfe2ff;
}