/* センターの設定 */
.center {
    background-color: rgb(226, 195, 255);
    flex-grow: 1;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: auto;
    height: 100%;
}

input[name=edit] {
    float: right;
    margin-right: 10px;
}