#word, #ruby {
    resize: none;
    padding: 10px;
}

#word {
    font-size: 30px;
}

#ruby {
    font-size: 20px;
}

#text {
    resize: none;
    font-size: large;
    padding: 10px;
    box-sizing: border-box; /*　親要素に横幅を合わせる */
}

@media only screen and (max-width:500px) {
    #word {
        font-size: 35px;
        padding: 10px 10px 0;
    }
    
    #ruby {
        font-size: 25px;
        padding: 10px 10px 0;
    }
    
    #text {
        font-size: 20px;
        width: 100vw;
    }
}