#word, #ruby {
    padding: 10px;
    font-size: 20px;
}

#text {
    resize: none;
    padding: 10px;
    font-size: large;
    box-sizing: border-box; /* 親要素に横幅を合わせる */
}

/* スマホだけに適用するCSS */
@media only screen and (max-width:500px) {
    #word {
        font-size: 25px;
        padding: 10px;
    }
    
    #ruby {
        font-size: 20px;
        padding:10px;
    }
    
    #text {
        font-size: 20px;
        padding: 10px;
    }
}