/* センターの設定 */
.center {
    flex-basis: 100%;
    margin-left: 10px;
    flex-direction: column; /* 縦に並べる */
}

input[name=word] {
    font-size: 30px;
    display: flex;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* 親要素に横幅を合わせる */
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    font-size: x-large;
}

input[name=submit] {
    float: right;
}