/* 全体の設定 */
html, body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium";
}

/* 親の設定 */
.parent {
    display: flex;
}

/* サイドの設定 */
#wordlist {
    background-color: aquamarine;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
}

.box {
    border-radius: 5px; /* 枠の角を丸く */
}

#searchform{
    background-color:chocolate;
}

ul {
    background-color: cornflowerblue;
    list-style: none;
    padding-left: 0;
    margin: auto;
    height: 100%;
}

li {
    padding-top: 10px;
}

/* センターの設定 */
.center {
    background-color: blueviolet;
    flex-basis: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column; /* 縦に並べる */
}

input[name=word] {
    font-size: 30px;
    display: flex;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* 親要素に横幅を合わせる */
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input[name=submit] {
    float: right;
}