/* 全体の設定 */
html, body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium";
}

/* 親の設定 */
.parent {
    display: flex;
}

/* サイドの設定 */
#wordlist {
    background-color: aquamarine;
    margin-top: auto;
    margin-bottom: 1px;
    letter-spacing: 2px;
    text-align: center;
}

.box {
    border-radius: 5px; /* 枠の角を丸く */
}

#searchform{
    background-color:chocolate;
}

ul {
    background-color: cornflowerblue;
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    margin: auto;

}

li {
    padding-top: 10px;
}

/* センターの設定 */
.center {
    background-color: blueviolet;
    flex-basis: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    flex-grow: 1;
}

input[name=submit] {
    float: right;
    align-self: flex-end;
}