/* 全体の設定 */
html, body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium";
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

/* 親の設定 */
.parent {
    display: flex;
}

/* サイドの設定 */
.side {
    height: 100%;
}

#wordlist {
    background-color: aquamarine;
    margin-bottom: 1px;
    letter-spacing: 2px;
    text-align: center;
    width: 150px;
    position: relative;
}

.textbox {
    border-radius: 5px; /* 枠の角を丸く */
}

form, input {
    background-color:chocolate;
    height: 1.5em;
    position: absolute;
    top: 35px
}

input[name="searchbox"] {
    width: 130px;
}

input[name="searchmark"] {
    width: auto;
    left: 130px;
}

ul {
    background-color: cornflowerblue;
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
    position: absolute;
    top: 80px
}

li {
    padding-top: 10px;
    width: 150px;
}

/* センターの設定 */
#title {
    background-color: blueviolet;
}

.center {
    height: 100%;
    width: 100%;
}